version: '2'

services:
  nginx:
      build: ./nginx/
      image: nightlinus/hermes:nginx
      container_name: web-server
  php70:
      build:
        context: ./php/
        dockerfile: php70-fpm.Dockerfile
      image: nightlinus/hermes:7.0-fpm
      container_name: php70
  php70-xdebug:
      build:
        context: ./php/
        dockerfile: php70-fpm-xdebug.Dockerfile
      image: nightlinus/hermes:7.0-fpm-xdebug
      container_name: php70-xdebug
  php71-xdebug:
      build:
        context: ./php/
        dockerfile: php71-fpm-xdebug.Dockerfile
      image: nightlinus/hermes:7.1-fpm-xdebug
      container_name: php56-xdebug
