version: '2'

services:
  nginx:
      build: ./nginx/
      image: nightlinus/hermes:nginx
      container_name: web-server
  php71:
      build:
        context: ./php/
        dockerfile: php71-fpm-xdebug.Dockerfile
      image: nightlinus/hermes:7.1-fpm-xdebug
      container_name: php71-xdebug
  php72:
      build:
        context: ./php/
        dockerfile: php72-fpm-xdebug.Dockerfile
      image: nightlinus/hermes:7.2-fpm-xdebug
      container_name: php72-xdebug
  composer:
      build:
        context: ./php/
        dockerfile: php71-composer.Dockerfile
      image: nightlinus/composer
      container_name: php71-composer
