version: '2'

services:
  nginx:
      build: ./nginx/
      image: nightlinus/hermes:nginx
      container_name: web-server
      ports:
          - 443:443
      volumes_from:
        - php
  php:
      build: ./php/
      image: nightlinus/hermes:7.0-fpm-xdebug
      container_name: php7
      env_file: /home/nightlinus/PhpstormProjects/hermes/.env
      volumes:
          - /home/nightlinus/PhpstormProjects/hermes/:/app
          - $TNS_ADMIN/tnsnames.ora:/etc/tnsnames.ora
