version: '3'

services:
  nginx:
      build: ./nginx/
      image: nightlinus/hermes:nginx
      container_name: web-server
  php73blackfire:
      build:
        context: ./php/
        dockerfile: php73-fpm-blackfire.Dockerfile
      image: nightlinus/hermes:7.3-fpm-blackfire
      container_name: php73-blackfire
  php73:
    build:
      context: ./php/
      dockerfile: php73-fpm-xdebug.Dockerfile
    image: nightlinus/hermes:7.3-fpm-xdebug
    container_name: php73-xdebug
  composer:
      build:
        context: ./php/
        dockerfile: php73-composer.Dockerfile
      image: nightlinus/composer
      container_name: php73-composer
  rabbitmq:
      build:
        context: .
        dockerfile: ./rabbitmq.Dockerfile
      image: nightlinus/rabbitmq
      container_name: rabbitmq
