version: '3'

services:
  nginx:
      build: ./nginx/
      image: nightlinus/hermes:nginx
      container_name: web-server
  php72-blackfire:
      build:
        context: ./php/
        dockerfile: php72-fpm-blackfire.Dockerfile
      image: nightlinus/hermes:7.2-fpm-blackfire
      container_name: php72-blackfire
  php72:
      build:
        context: ./php/
        dockerfile: php72-fpm-xdebug.Dockerfile
      image: nightlinus/hermes:7.2-fpm-xdebug
      container_name: php72-xdebug
  composer:
      build:
        context: ./php/
        dockerfile: php72-composer.Dockerfile
      image: nightlinus/composer
      container_name: php72-composer
